body {
  /* background: url(../img/basketball.jpg), black;
  background-repeat: no-repeat;
  background-position: top;
  top: 0;
  left: 0;
  min-width:100%;
  min-height:100%; */
  background: black;
  display: flex;
  justify-content: center;
}
.fon {
  background: url(../img/basketball.jpg), black;
  background-repeat: no-repeat;
  background-position: top;
  top: 0;
  left: 0;
  position: absolute;
  min-width:100%;
  min-height:100%;
  z-index: -4;
}
.playground {
  top: 0;
  position: absolute;
  z-index: -5;
}
.start {
  width: 30%;
  left: 35%;
  top: 20%;
}

.siteTime {
  width: 30%;
  /* margin-left: 40%; */
  margin-top: 1%;
  font-weight: bold;
  font-size: 32px;
}
.playerStyle {
  position: absolute;
  top: 85%;
  left: 50%;
}
.ball {
  width: 64px;
  height: 64px;
  visibility: hidden;
}
