body {
  background: url(../img/basketball.jpg), black;
  background-repeat: no-repeat;
  background-position: top;
  top: 0;
  left: 0;
  min-width:100%;
  min-height:100%;
}

.start {
  width: 30%;
  margin-left: 35%;
  margin-top: 20%;
}

.siteTime {
  width: 30%;
  margin-left: 40%;
  margin-top: 1%;
  font-weight: bold;
  font-size: 32px;
}
